/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #974031;
  --ifm-color-primary-dark: #782929;
  --ifm-color-primary-darker: #712727;
  --ifm-color-primary-darkest: #5d2020;
  --ifm-color-primary-light: #da7d7d;
  --ifm-color-primary-lighter: #c57a7a;
  --ifm-color-primary-lightest: #a77777;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #c22525;
  --ifm-color-primary-dark: #a31010;
  --ifm-color-primary-darker: #5a0505;
  --ifm-color-primary-darkest: #4b0707;
  --ifm-color-primary-light: #a02222;
  --ifm-color-primary-lighter: #d16161;
  --ifm-color-primary-lightest: #e0a0a0;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
